    <footer>
            <p class="footer-text" style="flex: 5;">Copyright © <%= new Date().getFullYear() %></p>
            
            <a href="https://github.com/AdityaPandit29"><img class="footer-icons" src="assets/svgs/github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/aditya-pandit-54161028a/"><img class="footer-icons" src="assets/svgs/linkedIn.svg" alt="linkedIn"></a>
            
            
    </footer>

</body>
</html>