<%- include("./partials/header.ejs") %>



<div class="hero-flex">
    <h1 class="hero">AP<br>Blogs.</h1>
     
    <div class="get-started">
        <img class="home-page-img" src="assets/images/home-page-img.jpg" alt="">
        <p>AP Blogs is your personal space to share thoughts, ideas, experiences, or anything that inspires you. Whether you're a writer, thinker, student, or creator—this is the place to express yourself freely.</p>
        <form class="form-flex" action="/createPost" method="POST">
            <input type="text" name="username" placeholder="Enter your name">
            <input class="submit" type="submit" value="Get Started">
        </form>
    </div>
</div>



<%- include("./partials/footer.ejs") %>
